* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sigmar one";
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;

  h1 {
    text-align: center;
  }

  #container_dashboard {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffcd0398;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2,
  h3,
  h4 {
    text-align: center;
    color: #333;
  }

  h4 {
    font-size: 30px;
  }
  h1{
    text-align: center;
  }

  .pokemon-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-bottom: 8px;
    color: #555;
  }

  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 2s;

    &:hover {
      background-color: #7b94d3;
    }
  }

  textarea {
    min-height: 100px;
    resize: vertical;
  }

  input[type="submit"] {
    background-color: #ffcc03;
    color: white;
    border: 1px solid #acacac;
    padding: 12px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  input[type="submit"]:active {
    transform: scale(0.9);
  }

  #container_list_admin {
    margin-top: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    td {
      background-color: #e9e9e981;
    }
  }

  table,
  th,
  td {
    border: 1px solid #a09f9f2d;
  }

  th,
  td {
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #7b94d3;
    color: #333;
    border: 1px solid #a09f9fb9;
  }

  td img {
    display: block;
    margin: 0 auto;
  }
  #delete {
    background-color: red;
  }
}
#create_form{
  width: 50%;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 18px;
  background-color: #ffcc03;
  padding: 20px;
}