@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
$primaryColor : #3c59a5;
$secondaryColor : #ffcc03;

$primaryColorText : #3c59a5;
$secondaryColorText : #000;
$serachColorText : #fff;

$primaryBgColor : #f3f4f6;
$secondaryBgColor : #fff;

body {
    background-color: $primaryBgColor ;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 20%;
    }
}

.nofound {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 1.5rem;
}

footer {
    width: 100%;
    height: 40px;
    background-color: $secondaryBgColor ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    a {
        height: 37px;
        display: flex;
        align-items: center;
        font-size: 1rem;
        text-decoration: none;
        color: $secondaryColorText;
        font-weight: bold;
        text-align: center;
        padding: 0 15px;
        text-transform: capitalize;


        &:hover {
            color: $primaryColorText;
        }


    }
}

nav {
    width: 100%;
    height: 40px;
    background-color: $secondaryBgColor ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .btn-search {
        height: 30px;
        background-color: $primaryColor;
        border: 0;
        border-radius: 5px;
        color: $serachColorText;
        padding: 5px 10px;
        transition: background-color 0.5s;
        cursor: pointer;

        &:hover {
            background-color: $secondaryColor;
            color: $primaryColorText;
            transition: background-color 0.5s;
        }
    }

    input[type=text] {
        height: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        color: $primaryColorText;
    }

    a {
        height: 37px;
        display: flex;
        align-items: center;
        font-size: 1rem;
        text-decoration: none;
        color: $secondaryColorText;
        font-weight: bold;
        text-align: center;
        padding: 0 15px;
        text-transform: capitalize;
        border-bottom: 3px solid #fff;


        &:hover {
            color: $primaryColorText;
            border-bottom: 3px solid #ffcc03;
        }


    }
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .list {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        .pokemon {
            height: 300px;
            background-color: $primaryBgColor ;
            border-radius: 15px;
            padding: 100px 15px 0px 15px;

            .pokemon-content {
                width: 100%;
                min-height: calc(100% - 20px);
                background-color: $secondaryBgColor ;
                border-radius: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;

                button {
                    top: 5%;
                    position: absolute;
                    width: 30px;
                    left: 85%;
                    border: 0;
                    background-color: transparent;

                    .select {
                        fill: $secondaryColor;

                        &:hover {
                            fill: #abacad;
                        }
                    }

                    svg {
                        width: 90%;
                        fill: #abacad;
                        cursor: pointer;

                        &:hover {
                            fill: $secondaryColor;
                        }

                    }
                }

                img {
                    position: absolute;
                    width: 50%;
                    bottom: 75%;
                    left: 25%;
                    filter: brightness(1);
                    transition: filter 0.5s;

                    &:hover {
                        filter: brightness(0.8);
                        transition: filter 0.5s;
                    }
                }

                h3 {
                    font-size: 0.9rem;
                    line-height: 1rem;
                    margin: 0;
                }

                h2 {
                    font-size: 1.6rem;
                    line-height: 2rem;
                    margin: 0;
                    color: $secondaryColorText;

                    a {
                        text-decoration: none;
                        color: $secondaryColorText;

                        &:hover {
                            color: #ccc;
                        }
                    }
                }

                .attacks {
                    width: 90%;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 5px 30px;
                    justify-content: space-around;
                    padding: 50px 0px 0px 0px;

                    .attack {
                        min-width: 50px;
                        padding: 5px 10px;
                        background-color: $primaryBgColor ;
                        border: 1px solid #abacad;
                        border-radius: 5px;
                        text-align: center;


                        &::first-letter {
                            text-transform: capitalize;
                        }
                    }

                }
            }
        }
    }

    .button {
        width: 20%;
        padding: 50px 0px;

        button {
            min-width: 250px;
            padding: 5px 10px;
            background-color: $primaryBgColor ;
            border: 1px solid #abacad;
            border-radius: 5px;
            text-align: center;
            filter: grayscale(1);
            transition: filter 0.5s;

            &:hover {
                filter: grayscale(0);
                transition: filter 0.5s;
            }

            a {
                text-decoration: none;
                display: block;
                color: $secondaryColorText;
            }
        }
    }
}

#show {

    section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .pokemon {
            width: 80%;
            background-color: $primaryBgColor ;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 20px;

            .pokemon-content {
                width: 50%;
                background-color: $secondaryBgColor ;
                border-radius: 5px;
                padding: 10px 15px;

                button {
                    top: 10%;
                    position: relative;
                    width: 50px;
                    left: 90%;
                    border: 0;
                    background-color: transparent;

                    .select {
                        fill: $secondaryColor;

                        &:hover {
                            fill: #abacad;
                        }
                    }

                    svg {
                        width: 90%;
                        fill: #abacad;
                        cursor: pointer;

                        &:hover {
                            fill: $secondaryColor;
                        }
                    }
                }

                h2 {
                    font-size: 1.6rem;
                    line-height: 1.7rem;
                    margin: 0;
                    text-transform: uppercase;
                    color: $primaryColorText;
                }

                .attacks {
                    width: 90%;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 5px 30px;
                    justify-content: space-around;
                    padding: 50px 0px 0px 0px;

                    .attack {
                        min-width: 50px;
                        padding: 5px 10px;
                        background-color: $primaryBgColor ;
                        border: 1px solid #abacad;
                        border-radius: 5px;
                        text-align: center;


                        &::first-letter {
                            text-transform: capitalize;
                        }
                    }

                }

                .capacities {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 20px 0px;

                    .capacity {
                        width: 100%;
                        height: 30px;
                        display: flex;
                        flex-direction: column;
                        padding: 5px 0px;

                        h3 {
                            font-size: 0.8rem;
                            font-weight: 200;
                            line-height: 1.2rem;
                            margin: 0;
                            text-transform: uppercase;
                        }

                        .capacity-bar {
                            width: 100%;
                            height: 10px;
                            border-radius: 20px;
                            background-color: #e5e7eb;
                            display: flex;
                            align-items: center;
                            justify-content: left;

                            .capacity-value {
                                height: 8px;
                                border-radius: 20px;
                                background-color: $secondaryColor
                            }
                        }
                    }

                }

                .evolutions {
                    h2 {
                        font-size: 1.4rem;
                        line-height: 1.7rem;
                        margin: 0;
                        text-transform: uppercase;
                        display: flex;
                        justify-content: left;
                    }

                    .evolution {
                        width: 100%;
                        height: 150px;
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        justify-content: left;
                        align-items: center;
                        padding: 15px;


                        .evolution-content {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .evolution-image {
                                width: 100px;
                                height: 100px;
                                background-color: #e5e7eb;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                img {
                                    width: 75%;
                                    transition: filter 0.5s;

                                    &:hover {
                                        filter: brightness(0.8);
                                        transition: filter 0.5s;
                                    }
                                }

                                a {
                                    display: contents;

                                }
                            }

                            h3 {
                                font-size: 0.8rem;
                                font-weight: 200;
                                line-height: 1.2rem;
                                margin: 0;
                                text-transform: uppercase;
                                text-align: center;
                                padding: 10px 0px;

                                a {
                                    text-decoration: none;
                                    color: $secondaryColorText;

                                    &:hover {
                                        color: #ccc;
                                    }
                                }
                            }
                        }

                    }
                }
            }

            .pokemon-image {
                width: 50%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;

                h3 {
                    font-size: 10rem;
                    margin: 0;
                    z-index: 1;
                    position: absolute;
                    bottom: 70%;
                    color: #dee0e3;

                }

                img {
                    z-index: 3;
                    width: 70%;
                }
            }
        }
    }
}

.alert {
    position: fixed;
    width: 280px;
    padding: 0.75rem 1.35rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin: 0 auto;
    top: 50px;
    left: 50px;
    text-align: center;
    animation: fadeOut 3s linear forwards;

   img{
    z-index: 5;
    width: 80px;
    position: absolute;
    top:-30px;
    left: -55px;
    transform: scaleX(-1);
   }

}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-delete {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

@keyframes fadeOut {
    0% {
        display: flex;
        left: -250px;
    }

    25% {
        left: 60px;
    }

    75% {
        //opacity: 1;
        left: 60px;
    }

    100% {
        display: none;
        //opacity: 0;
        left: -250px;
    }
}